.h5 {
    font-display: bold
}


.dark_blue {
    background-color: #233142;
    height: 300px;
    width: 100%
}

.light_blue {
    background-color: #4f9da6;
    height: 300px;
    width: 100%;
    margin-bottom: 0px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    align-content: center;
}

.me_img {
    height: 100%;
}

img {
    margin-top: 50px;
    border-radius: 50%;
    height: 800px;
    margin-left: -100px;
}
